{% extends "/frontend/template.html.twig" %}

{% block title %}{{ string }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <!-- Masthead-->
    {# <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="public/img/avataaars.svg" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">{{ string }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Développeur web - PHP</p>
        </div>
    </header> #}
    <!-- Blog Section-->
    <section class="page-section blog" id="blog">
        <div class="container">
            <!-- Blog Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mt-lg-5 mb-0">Blog</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Blog Grid Items-->
            <div class="row justify-content-center">
                {% set i = 0 %}
                {% for post in posts %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a href="/blog/articles/{{ post.id }}/{{ slugs[i] }}">
                             {% set i = i + 1 %}
                            <div class="blog-item mx-auto">
                                <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/public/img/blog/{{ post.imageName }}" alt="..." />
                            </div>
                        </a>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

{% endblock %}

