{% extends "/frontend/template.html.twig" %}

{% block title %}{{ string }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="public/img/avataaars.svg" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">{{ string }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Développeur web - PHP</p>
        </div>
    </header>
    <!-- Blog Section-->
    <section class="page-section blog" id="blog">
        <div class="container">
            <!-- Blog Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Blog</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Blog Grid Items-->
            <div class="row justify-content-center">
                <!-- Blog Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal1">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/cabin.png" alt="..." />
                    </div>
                </div>
                <!-- Blog Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal2">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/cake.png" alt="..." />
                    </div>
                </div>
                <!-- Blog Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal3">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/circus.png" alt="..." />
                    </div>
                </div>
                <!-- Blog Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal4">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/game.png" alt="..." />
                    </div>
                </div>
                <!-- Blog Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal5">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/safe.png" alt="..." />
                    </div>
                </div>
                <!-- Blog Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item mx-auto" data-bs-toggle="modal" data-bs-target="#blogModal6">
                        <div class="blog-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="blog-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/img/blog/submarine.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">À propos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">{{ string }} est un développeur web spécialisé en PHP/Symfony qui travaille comme Growth Hacker chez Oaan Consulting, une entreprise spécialisée dans la rénovation énergétique.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Développeur web full stack, avec une compétence particulière pour le développement WordPress, {{ string }} est également rédacteur de contenu, community manager et marketer digital.</p></div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Télécharger mon CV
                </a>
            </div>
        </div>
    </section>
    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form>
                        <div class="form-floating">
                            <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
                            <label for="inputName">Nom</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputEmail" type="email" placeholder="Enter your email..." />
                            <label for="inputEmail">Adresse email</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number..." />
                            <label for="inputPhone">Numéro de téléphone</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="inputMessage" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-xl" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Modals-->
    <!-- Blog Modal 1-->
    <div class="blog-modal modal fade" id="blogModal1" tabindex="-1" aria-labelledby="blogModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.0.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/cabin.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.0.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Modal 2-->
    <div class="blog-modal modal fade" id="blogModal2" tabindex="-1" aria-labelledby="blogModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.1.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/cake.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.1.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Modal 3-->
    <div class="blog-modal modal fade" id="blogModal3" tabindex="-1" aria-labelledby="blogModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.2.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/circus.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.2.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Modal 4-->
    <div class="blog-modal modal fade" id="blogModal4" tabindex="-1" aria-labelledby="blogModal4" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.3.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/game.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.3.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Modal 5-->
    <div class="blog-modal modal fade" id="blogModal5" tabindex="-1" aria-labelledby="blogModal5" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.4.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/safe.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.4.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Modal 6-->
    <div class="blog-modal modal fade" id="blogModal6" tabindex="-1" aria-labelledby="blogModal6" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Blog Modal - Title-->
                                <h2 class="blog-modal-title text-secondary text-uppercase mb-0">{{ posts.5.title }}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Blog Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="public/img/blog/submarine.png" alt="..." />
                                <!-- Blog Modal - Text-->
                                <p class="mb-4">{{ posts.5.content }}</p>
                                <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Fermer la fenêtre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {# <script src="js/scripts.js"></script> #}

{% endblock %}

