{% extends '/templates/adminTemplate.html.twig' %}

{% block title %}{{ parent() }}Création d'un article{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="">
    <h1 class="h3 mb-2 text-gray-800">Créer un article</h1>

    <form action="/creer-un-article" method="post">
        <div class="form-group mb-2 mt-5">
            <label>Titre : </label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group mb-2 mt-5">
            <label>Chapô : </label>
            <input type="text" name="blurb" class="form-control" required>
        </div>
        <div class="form-group mb-2 mt-5">
            <label>Image : </label>
            <input type="file" name="imageName" class="form-control-file" accept=".jpg, .jpeg, .png" required>
        </div>
        <div class="form-group mb-2 mt-5">
            <p>Texte alternatif : </p>
            <input type="text" name="imageAlt" class="form-control" required>
        </div>
        <div class="form-group contenu-article mb-2 mt-5">
            <label>Contenu : </label>
            <textarea class="mytextarea mt-5" name="content" required>
                Veuillez écrire votre article ici.
            </textarea>
        </div>
        <div class="form-group mb-2 mt-5">
            <label>Auteur : </label>
            <select name="author" id="author" class="form-control" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" name="createInput" class="btn btn-primary mt-5 mb-4">Envoyer</button>
    </form>

    <a href="/admin"><p class="mt-5 mb-5">&larr; Retour au tableau de bord</p> </a>

</div>
{% endblock %}