{% extends '/templates/adminTemplate.html.twig' %}

{% block title %}{{ string }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- 404 Error Text -->
<div class="text-center">
    <h1 class="h3 mb-2 text-gray-800">Éditer un article</h1>

    <form action="/editer-un-article/{{ post.id }}" method="post">
        <div class="titre-article mb-2 mt-5">
            <p>Titre : </p>
            <input type="text" name="content" id="" class="w-50" value="{{ post.title }}">
        </div>
         <div class="titre-article mb-2 mt-5">
            <p>Chapô : </p>
            <input type="text" name="blurb" id="" class="w-50" value="{{ post.blurb }}">
        </div>
        <div class="titre-article mb-2 mt-5">
            <p>Image : </p>
            <input type="file" name="url" id="" class="" accept=".jpg, .jpeg, .png" placeholder="{{ image.url }}">
        </div>
        <div class="titre-article mb-2 mt-5">
            <p>Texte alternatif : </p>
            <input type="text" name="altText" id="" class="w-50" value="{{ image.alt_text }}">
        </div>
        <div class="titre-article mb-2 mt-5">
            <p>Nom de l'image : </p>
            <input type="text" name="name" id="" class="w-50" value="{{ image.name }}">
        </div>
        <div class="contenu-article mb-2 mt-5" style="text-align: -webkit-center;">
            <p>Contenu : </p>
            <textarea class="mytextarea w-50 mt-5" name="mytextarea">
                {{ post.content }}
            </textarea>
            <style>.tox-tinymce { max-width: 50%; }</style>
        </div>
        <div class="titre-article mb-2 mt-5">
            <p>Auteur : </p>
            <input type="text" name="author" id="" class="w-50" value="{{ post.author }}">
        </div>
        <input type="submit" class="btn-primary mt-5 mb-4" name="editInput" id="editInput" value="Envoyer">
    </form>

    <a href="/liste-articles">&larr; Retour à la liste des articles</a>

    

</div>
{% endblock %}