{% extends '/templates/adminTemplate.html.twig' %}

{% block title %}{{ parent() }}Liste des articles{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Liste des articles</h1>

<!-- List of articles -->
<div class="card shadow mb-4">
    <div class="card-body">
       <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
                <thead>
                    <tr>
                        <th data-sortable="true">Titre</th>
                        <th>Chapô</th>
                        <th data-sortable="true">Date création</th>
                        <th data-sortable="true">Date modification</th>
                        <th>Contenu</th>
                        <th>Photo</th>
                        <th>Auteur</th>
                        <th>Édition</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                        <td>{{ post.title }}</td>
                        <td class="text-truncate" style="max-width: 100px;">{{ post.blurb }}</td>
                        <td>{{ post.creation_date|date('d/m/Y à H:i') }}</td>
                        <td>{{ post.modif_date|date('d/m/Y à H:i') }}</td>
                        <td class="text-truncate" style="max-width: 200px;">{{ post.content|e }}</td>
                        <td><img src="/public/img/blog/{{ post.imageName }}" alt="{{ post.imageAlt }}" width="100"></td>
                        <td>{{ post.author }}</td>
                        <td><button type="button" id="buttonDelete{{ post.id }}" class="btn" data-toggle="modal" data-target="#modalDelete{{ post.id }}"><i class="fas fa-trash-alt" style="display: flex;"></i></button><a href="/editer-un-article/{{ post.id }}"><button type="button" class="btn" style="display: flex;"><i class="fas fa-edit"></i></button></a></td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="modalDelete{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Suppression de l'article {{ post.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer cet article ? 
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <a href="/supprimer-un-article/{{ post.id }}">Supprimer</a>
                            {# <button  id="modalButton" type="button" class="btn btn-primary"> #}
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
var button = document.getElementById('buttonDelete');
var buttonId = button.dataset.id;

var modalButton = document.getElementById('modalButton');

</script>

{% endblock %}